<extend name="Base/common"/>


<block name="body">
    <style>
        #main-container {
            width: 960px;
        }
    </style>
    <link href="__CSS__/weibo.css" type="text/css" rel="stylesheet"/>
    <!--微博内容列表部分-->
    <div class="weibo_middle pull-left" style="width: 660px">
 
        <!--  筛选部分-->
        <div>
            <php>if(!is_login()) $style='margin-top:0'</php>
            <div id="weibo_filter" class="margin-bottom-10" style="position: relative;{$style}">
                <div class="weibo_icon">
                    <php>
                        $show_icon_eye_open=0;
                        if(count($top_list)){
                        $hide_ids=cookie('Weibo_index_top_hide_ids');
                        if(mb_strlen($hide_ids,'utf-8')){
                        $hide_ids=explode(',',$hide_ids);
                        foreach($top_list as $val){
                        if(in_array($val,$hide_ids)){
                        $show_icon_eye_open=1;
                        break;
                        }
                        }}}
                        if(count($top_list)){
                        if($show_icon_eye_open){
                    </php>
                    <li data-weibo-id="{$weibo.id}" title="{:L('_SHOW_ALL_TOP_')}{$MODULE_ALIAS}" data-role="show_all_top_weibo">
                        <i class="icon icon-eye-open"></i>
                    </li>
                    <php>}else{</php>
                    <li data-weibo-id="{$weibo.id}" title="{:L('_SHOW_ALL_TOP_')}{$MODULE_ALIAS}" data-role="show_all_top_weibo" style="display: none;">
                        <i class="icon icon-eye-open"></i>
                    </li>
                    <php>}}</php>
                </div>
                
                <div class="pull-right" style="line-height: 35px;text-align: right">
                   
                 </div>

            </div>
        </div>
        <script>
            $('#weibo_filter #{$filter_tab}').addClass('active');
        </script>


        <!--筛选部分结束-->
        <div id="top_list" >
            <volist name="top_list" id="top">
                {:W('WeiboDetail2/detail2',array('weibo_id'=>$top,'can_hide'=>0))}
            </volist>
        </div>
        
        <div id="load_more" class="text-center text-muted"
        <if condition="$page neq 1">style="display:none"</if>
        >
        <p id="load_more_text"><img style="margin-top:80px" src="__IMG__/loading-new.gif"/></p>
    </div>
    <div id="index_weibo_page" style=" <if condition='$page eq 1'>display:none</if>">
        <div class="text-right">
            {:getPagination($total_count,30)}
        </div>
    </div>
    </div>

    <!--微博内容列表部分结束-->
   
</block>
<block name="script">
    <script src="__JS__/weibo.js"></script>
    <script>
        var SUPPORT_URL = "{:addons_url('Support://Support/doSupport')}";
        weibo.page = '{$page}';
        weibo.loadCount = 0;
        weibo.lastId = parseInt('{$list|reset}')+1;
        weibo.url = "{$loadMoreUrl}";
        weibo.type = "{$type}";
        $(function () {
            weibo_bind();
            //当屏幕滚动到底部时
            if (weibo.page == 1) {
                $(window).on('scroll', function () {
                    if (weibo.noMoreNextPage) {
                        return;
                    }
                    if (weibo.isLoadingWeibo) {
                        return;
                    }
                    if (weibo.isLoadMoreVisible()) {
                        weibo.loadNextPage();
                    }
                });
                $(window).trigger('scroll');
            }
        });
    </script>

</block>
