<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
    <link href="__CSS__/home.css" type="text/css" rel="stylesheet">
    <php> D('Member')->need_login();</php>
</head>
<body>
<div class="main-wrapper">
    <include file="Public/header"/>
    <!-- 头部 -->
    <style>
        .container{
            width:1140px;max-width: 1140px
        }
    </style>
    <include file="Index/_nav"/>

    <div id="main-container" class="top-bar ">
        <volist name="showBlocks" id="v">
            <php>if($v=='slider'){</php>
            

            <php>}else{</php>
            {:W($v.'/HomeBlock/render')}
            <php>}</php>

        </volist>
    </div>
</div>




<!-- /头部 -->

<!-- 主体 -->

<!-- /主体 -->

<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>